.text{margin-right: 60px;} 
.col-9{margin-bottom: 200px;} 
.fan{font-family: 'IBM Plex Serif', serif;} 
.air{font-family: 'IBM Plex Serif', serif;}
 .para{font-family: 'IBM Plex Serif', serif;} 
 .text{font-family: 'IBM Plex Serif', serif;} 
 .card-text{font-family: 'IBM Plex Serif', serif;}